@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');

body{
     
    margin: 0px;
    padding: 0px;
    
}


.main-div{
    position: relative;
    left: 150px;
    top: 20px;
    }

.logo{
    height: 30px;
    position: relative; 
    top: 10px;
}

.nav-items{
    display: flex;
    justify-content:center;
    align-items:center;
     position: relative;
    bottom: 70px;
    right: 290px;
}

.nav-item{
    margin: 20px;
    padding: 10px; 
    text-align: center;
    position: relative;
    bottom: 900px;
    color: #262D77;
}

 .signin-btn{
      float: right;
     border-radius: 20px;
    background-image: linear-gradient(to right, #965CF2 , #FF8ADC);
    color: white;
    position: relative;
    right: 650px;
    bottom: 1015px;
    height: 20px;
    width: 80px;
     
}
.image{
    height: 913px;
    width: 913px;
    background-image: url(/images/backcover.svg);
    position: relative;
    bottom: 65px;
    left: 380px;
    background-repeat: no-repeat;    
     
}

.imgs-div{
    position: relative;
    bottom: 1340px;
    left: 400px;

    height: 852px;
    width: 812px;

    
}


.vector-img{
     
    position: relative;
    top: 670px;
     }

#vector-dot{
    position:absolute;
    right: 730px;
     }

.left-section{
     
    position: relative;
    bottom: 780px;
     
     
     }

     .web{
        /* height: 200px; */
        width: 350px;
         
        /* background-color: #965CF2; */
        /* font-family: 'Raleway', sans-serif; */
        font-size: 60px;
        color: #262D77;
     } 

.text{
     font-family: 'Montserrat', sans-serif;
     /* background-color: #965CF2; */
     height: 120px;
     width: 300px;
     position:relative;
     top: 20px;
}

.learn-more-btn{
    border-radius: 20px;
    height: 40px;
    width: 180px;
    background-color: #965CF2;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: none;
    background-image: linear-gradient(to right, #965CF2 , #FF8ADC);
    position:relative;
    top: 40px;
}